* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	scroll-behavior: smooth;
	font-family: "Ubuntu", sans-serif;
}

a {
	all: unset;
	cursor: pointer;
}

body {
	background-color: black;
	background-image: url("../images/sfondo-darker.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 82%;
	min-height: 100svh;
}

section {
	padding-top: 100px;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}